<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-a01685424/blob/main/IBM_PY0101EN_Python_for_Data_Science_Mod02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# IBM Course 


# Modulo 2

In [15]:
#Ejercicio 1
#Lists and Tuples

A=(0,1,2,3)
print('Tuple A:',A)

B=["a","b","c"]
print('List B',B)

B[0]="A"
print('List B\'',B)

B[1:]

tuple1 = ("disco",10,1.2 )
tuple1
type(tuple1)

print('Tuple 1 pos 0',tuple1[0])
print('Tuple 1 pos 1',tuple1[1])
print('Tuple 1 pos 2',tuple1[2])

print('Tuple 1 pos 0 type',type(tuple1[0]))
print('Tuple 1 pos 1 type',type(tuple1[1]))
print('Tuple 1 pos 2 type',type(tuple1[2]))

tuple2 = tuple1 + ("hard rock", 10)
tuple2
print('Tama침o tupla:',len(tuple2))

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
NestedT

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Tuple A: (0, 1, 2, 3)
List B ['a', 'b', 'c']
List B' ['A', 'b', 'c']
Tuple 1 pos 0 disco
Tuple 1 pos 1 10
Tuple 1 pos 2 1.2
Tuple 1 pos 0 type <class 'str'>
Tuple 1 pos 1 type <class 'int'>
Tuple 1 pos 2 type <class 'float'>
Tama침o tupla: 5
Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

In [28]:
#Ejercicio 2
#Sets

S={'A','B','C'}

U={'A','Z','C'}

print('Uni칩n U y S:',U.union(S))

print('S:',S)
print('U:',U)

V=S&U
print('V:',V)

print('Z en el set S','Z' in S)
print('Z en el set U','Z' in U)

A = [1, 2, 2, 1]  
B = set([1, 2, 2, 1])
print("the sum of A is:", sum(A))
print("the sum of B is:", sum(B))
print('Sum(A):',sum(A),'es igual a Sum(B):',sum(B),'entonces',sum(A)==sum(B))

C = [1, 2, 2, 1]
C = set(C)
print('Set C:',C)
D = set([1, 2, 2, 1])
print('Set D:',D)
print('Sum(C):',sum(C),'es igual a Sum(D):',sum(D),'entonces',sum(C)==sum(D))

Uni칩n U y S: {'A', 'B', 'Z', 'C'}
S: {'A', 'C', 'B'}
U: {'A', 'C', 'Z'}
V: {'A', 'C'}
Z en el set S False
Z en el set U True
the sum of A is: 6
the sum of B is: 3
Sum(A): 6 es igual a Sum(B): 3 entonces False
Set C: {1, 2}
Set D: {1, 2}
Sum(C): 3 es igual a Sum(D): 3 entonces True

In [ ]:
#Ejercicio 3
#Dictionaries

In [ ]:
#Ejercicio 4
#

In [ ]:
#Ejercicio 5
#

In [ ]:
#Ejercicio 6
#