<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-a01685424/blob/main/IBM_DA0101EN_Data_Analysis_with_Python_Mod02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

># **IBM Course: DA0101EN**
>**Data Analysis with Python**
> 
> *Fernando Alfredo Rojas Estrella - A01685424*
> 
> **Temas:**
1. Pre-processing Data in Python 2:09
2. Dealing with Missing Values in Python 5:57
3. Data Formatting in Python 3:23
4. Data Normalization in Python 3:34
5. Binning in Python 1:53
6. Turning categorical variables into quantitative variables in Python 2:00

In [7]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 1

# Preprocesamiento de datos en Python

# Estandarización de formato antes del procesamiento
# 1. Manejo de valores faltantes
# 2. Dar formato a los datos
# 3. Normalización de los rangos a través del centrado y escalado
# 4. Convertir variables categóricas en numéricas

import pandas as pd
import numpy as np

URL = "/content/sample_data/california_housing_test.csv"
dfdat = pd.read_csv(URL)

print('Dataframe:\n',dfdat.head(4))
print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - Acceso a la información:
print('\nlongitud:\n',dfdat['longitude'])
print('\nlatitude:\n',dfdat['latitude'])

print('\n- - - - - - - - - - - - - - - - - - - - - \n') # Accediendo información por columnas 
dfdat['population'] = (dfdat['population']-dfdat['population'].min())*100/(dfdat['population'].max()-dfdat['population'].min())
dfdat['population'] = dfdat['population'].round(1)
print('dfdat population - 100:\n',)
print('Dataframe:\n',dfdat.head(4))

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

Dataframe:
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0

- - - - - - - - - - - - - - - - - - - - -


longitud:
 0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

latitude:
 0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

- - - - - - - - - - - - - - - - - - - - -

dfdat population - 100:

Dataframe:
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0

   population  households  median_income  median_house_value
0        12.8       606.0         6.6085            344700.0
1         6.7       277.0         3.5990            176500.0
2        12.4       495.0         5.7934            270500.0
3         0.4        11.0         6.1359            330000.0

- - - - - - - - - - - - - - - - - - - - -

In [30]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 2

# Valores faltantes

# Remplazar datos
# 1. Desechar los valores faltantes: la varia le completa
# 2. Desechar los valores faltantes: solo el registro con información faltante
# 3. Remplazar los valores faltantes: remplazo con el promedio
# 4. Remplazar los valores faltantes: remplazo con el valor medio
# 5. Remplazar los valores faltantes: remplazo basado en otras funciones


import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/movies.csv"
dfurl = pd.read_csv(url)
print('Dataframe:\n',dfurl.head(4))

# - - - - - - - - - - - - - - - - - - - - Validando si existen nulos en la información
print('\n- - - - - - - - - - - - - - - - - - - - - \n') #
print('El data frame tiene nulos:\n',dfurl.isnull().values.any())

print('\n- - - - - - - - - - - - - - - - - - - - - \n') # Existen nulos en mpaa
dfdropNan = dfurl.budget.dropna() # Desechamos los NaN de la columna budget
print('Columna budget:\n',dfdropNan)
print('¿Existen Nan en columna budget?:\n',dfdropNan.isnull().values.any())

print('\n- - - - - - - - - - - - - - - - - - - - - \n') #
dfdropNan2 = dfurl.mpaa.dropna(axis=0) # Desechamos los NaN de la columna mpaa
print('Columna mpaa:\n',dfdropNan2)
print('¿Existen Nan en columna mpaa?:\n',dfdropNan2.isnull().values.any())

print('\n- - - - - - - - - - - - - - - - - - - - - \n') # 
dfurl.dropna(subset=['mpaa','budget'], inplace=True) # Desechamos los NaN directamente en el dataframe
print('Dataframe:\n',dfurl.head(4))
#print('¿Existen Nan en el dataframe?:\n',dfurl.isnull())

Dataframe:
    Unnamed: 0                   title  year  length  budget  rating  votes  \
0           1                       $  1971     121     NaN     6.4    348
1           2       $1000 a Touchdown  1939      71     NaN     6.0     20
2           3  $21 a Day Once a Month  1941       7     NaN     8.2      5
3           4                 $40,000  1996      70     NaN     8.2      6

     r1    r2   r3  ...    r9   r10  mpaa  Action  Animation  Comedy  Drama  \
0   4.5   4.5  4.5  ...   4.5   4.5   NaN       0          0       1      1
1   0.0  14.5  4.5  ...   4.5  14.5   NaN       0          0       1      0
2   0.0   0.0  0.0  ...  24.5  24.5   NaN       0          1       0      0
3  14.5   0.0  0.0  ...  34.5  45.5   NaN       0          0       1      0

  Documentary  Romance  Short
0           0        0      0
1           0        0      0
2           0        0      1
3           0        0      0

[4 rows x 25 columns]

- - - - - - - - - - - - - - - - - - - - -

El data frame tiene nulos:
 True

- - - - - - - - - - - - - - - - - - - - -

Columna budget:
 21         450000.0
34          19000.0
47       23000000.0
90        5000000.0
111      16000000.0
            ...
58689    28000000.0
58737     1300000.0
58770     1000000.0
58786    85000000.0
58787    87000000.0
Name: budget, Length: 5215, dtype: float64
¿Existen Nan en columna budget?:
 False

- - - - - - - - - - - - - - - - - - - - -

Columna mpaa:
 6            R
14       PG-13
15       PG-13
42           R
47       PG-13
         ...
58728        R
58766        R
58778        R
58786    PG-13
58787    PG-13
Name: mpaa, Length: 4924, dtype: object
¿Existen Nan en columna mpaa?:
 False

- - - - - - - - - - - - - - - - - - - - -

Dataframe:
      Unnamed: 0                       title  year  length      budget  rating  \
47           48          'Til There Was You  1997     113  23000000.0     4.8
111         112  10 Things I Hate About You  1999      97  16000000.0     6.7
123         124               100 Mile Rule  2002      98   1100000.0     5.6
172         173              13 Going On 30  2004      98  37000000.0     6.4

     votes   r1   r2   r3  ...    r9   r10   mpaa  Action  Animation  Comedy  \
47     799  4.5  4.5  4.5  ...   4.5  14.5  PG-13       0          0       1
111  19095  4.5  4.5  4.5  ...  14.5  14.5  PG-13       0          0       1
123    181  4.5  4.5  4.5  ...   4.5  14.5      R       0          0       1
172   7859  4.5  4.5  4.5  ...   4.5  14.5  PG-13       0          0       1

     Drama Documentary  Romance  Short
47       0           0        1      0
111      0           0        1      0
123      0           0        0      0
172      1           0        1      0

[4 rows x 25 columns]

In [48]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 2 continuación

import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/movies.csv"
dfsus = pd.read_csv(url)

# - - - - - - - - - - - - - - - - - - - - Sustitución de valores
a = dfsus.replace(np.nan, 0)
print('dfsus sin valores nulos:\n', a)

print('\n- - - - - - - - - - - - - - - - - - - - - \n') #

dfsus sin valores nulos:
        Unnamed: 0                     title  year  length      budget  rating  \
0               1                         $  1971     121         0.0     6.4
1               2         $1000 a Touchdown  1939      71         0.0     6.0
2               3    $21 a Day Once a Month  1941       7         0.0     8.2
3               4                   $40,000  1996      70         0.0     8.2
4               5  $50,000 Climax Show, The  1975      71         0.0     3.4
...           ...                       ...   ...     ...         ...     ...
58783       58784                 tom thumb  1958      98         0.0     6.5
58784       58785               www.XXX.com  2003     105         0.0     1.1
58785       58786    www.hellssoapopera.com  1999     100         0.0     6.6
58786       58787                       xXx  2002     132  85000000.0     5.5
58787       58788   xXx: State of the Union  2005     101  87000000.0     3.9

       votes    r1    r2    r3  ...    r9   r10   mpaa  Action  Animation  \
0        348   4.5   4.5   4.5  ...   4.5   4.5      0       0          0
1         20   0.0  14.5   4.5  ...   4.5  14.5      0       0          0
2          5   0.0   0.0   0.0  ...  24.5  24.5      0       0          1
3          6  14.5   0.0   0.0  ...  34.5  45.5      0       0          0
4         17  24.5   4.5   0.0  ...   0.0  24.5      0       0          0
...      ...   ...   ...   ...  ...   ...   ...    ...     ...        ...
58783    274   4.5   4.5   4.5  ...   4.5   4.5      0       0          1
58784     12  45.5   0.0   0.0  ...   0.0  24.5      0       0          0
58785      5  24.5   0.0  24.5  ...  24.5  44.5      0       0          0
58786  18514   4.5   4.5   4.5  ...   4.5   4.5  PG-13       1          0
58787   1584  24.5   4.5   4.5  ...   4.5  14.5  PG-13       1          0

       Comedy  Drama Documentary  Romance  Short
0           1      1           0        0      0
1           1      0           0        0      0
2           0      0           0        0      1
3           1      0           0        0      0
4           0      0           0        0      0
...       ...    ...         ...      ...    ...
58783       0      0           0        0      0
58784       0      1           0        1      0
58785       0      0           0        0      0
58786       0      0           0        0      0
58787       0      0           0        0      0

[58788 rows x 25 columns]

- - - - - - - - - - - - - - - - - - - - -

In [55]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 3

# Formateando datos
# Llevar a los datosa un estándar común de expresión

import pandas as pd
import numpy as np

url = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/movies.csv"
dfform = pd.read_csv(url)

# - - - - - - - - - - - - - - - - - - - - Dando formato
print('\n- - - - - - - - - - - - - - - - - - - - - \n') # Sustituyendo
dfform['year'] = 2000
print('Columna year:\n',dfform.year)


print('\n- - - - - - - - - - - - - - - - - - - - - \n') # Cambiando titulos
dfform.rename(columns={'title':'Peli'})

print('\n- - - - - - - - - - - - - - - - - - - - - \n') # Convirtiendo el formato
print('Antes de convertir formato de columna rating, formato:',dfform.rating.dtype)
dfform['rating'] = dfform['rating'].astype('int')
print('Después de convertir formato de columna rating, formato:',dfform.rating.dtype)
print('\n- - - - - - - - - - - - - - - - - - - - - \n') #

- - - - - - - - - - - - - - - - - - - - -

Columna year:
 0        2000
1        2000
2        2000
3        2000
4        2000
         ...
58783    2000
58784    2000
58785    2000
58786    2000
58787    2000
Name: year, Length: 58788, dtype: int64

- - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - -

Antes de convertir formato de columna rating, formato: float64
Después de convertir formato de columna rating, formato: int64

- - - - - - - - - - - - - - - - - - - - -

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 4

# 


print('\n- - - - - - - - - - - - - - - - - - - - - \n') #

# - - - - - - - - - - - - - - - - - - - - 


print('\n- - - - - - - - - - - - - - - - - - - - - \n') #

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 5

# 

print('\n- - - - - - - - - - - - - - - - - - - - - \n') #

# - - - - - - - - - - - - - - - - - - - - 


print('\n- - - - - - - - - - - - - - - - - - - - - \n') #