<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-a01685424/blob/main/IBM_DA0101EN_Data_Analysis_with_Python_Mod03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

># **IBM Course: DA0101EN**
>**Data Analysis with Python**
> 
> *Fernando Alfredo Rojas Estrella - A01685424*
> 
> **Temas:**
1. Exploratory Data Analysis 1:20
2. Descriptive Statistics 4:39
3. GroupBy in Python 3:20
4. Analysis of Variance ANOVA 3:58
5. Correlation 2:29
6. Correlation - Statistics 2:37

In [4]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 1

# Análisis exploratorio de datos

# Realización del Análisis Exploratorio de los Datos (EDA)
# 1. Resumir principales características de los datos
# 2. Obtener mejor comprensión de los datos
# 3. Descubrir relaciones entre las variables
# 4. Extraer variables importantes
# Es importante conocer sobre: Estadísticas descriptivas,
# características del conjunto de datos, agrupaciones con
# GroupBy, análisis de varianza con ANOVA, correlación en-
# tre variables y correlación avanzada.


import pandas as pd
import numpy as np

URL = "/content/sample_data/california_housing_test.csv"
dfdat = pd.read_csv(URL)

#print('Dataframe:\n',dfdat.head(4))
print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - 

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

- - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - -

In [6]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 

# Estadísticas descriptivas

# Ayuda a describir las catacterísticas básicas de un
# conjunto de datos y obtiene un resumen sobre la muestra
# y medidas.


import pandas as pd
import numpy as np

print('dfdat.describe:',dfdat.describe())



print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - 

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

dfdat.describe:          longitude    latitude  housing_median_age   total_rooms  \
count  3000.000000  3000.00000         3000.000000   3000.000000
mean   -119.589200    35.63539           28.845333   2599.578667
std       1.994936     2.12967           12.555396   2155.593332
min    -124.180000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.485000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value
count          3000.00000
mean         205846.27500
std          113119.68747
min           22500.00000
25%          121200.00000
50%          177650.00000
75%          263975.00000
max          500001.00000

- - - - - - - - - - - - - - - - - - - - -


- - - - - - - - - - - - - - - - - - - - -

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 

# Python

# 


import pandas as pd
import numpy as np



print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - 

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 

# Python

# 


import pandas as pd
import numpy as np



print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - 

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 

# Python

# 


import pandas as pd
import numpy as np



print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - 

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 

# Python

# 


import pandas as pd
import numpy as np



print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - 

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 

# Python

# 


import pandas as pd
import numpy as np



print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - 

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 

# Python

# 


import pandas as pd
import numpy as np



print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - 

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 

# Python

# 


import pandas as pd
import numpy as np



print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - 

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 

# Python

# 


import pandas as pd
import numpy as np



print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - - - - - - - - 

print('\n- - - - - - - - - - - - - - - - - - - - - \n')