<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-a01685424/blob/main/IBM_DA0101EN_Data_Analysis_with_Python_Mod02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

># **IBM Course: DA0101EN**
>**Data Analysis with Python**
> 
> *Fernando Alfredo Rojas Estrella - A01685424*
> 
> **Temas:**
1. Pre-processing Data in Python 2:09
2. Dealing with Missing Values in Python 5:57
3. Data Formatting in Python 3:23
4. Data Normalization in Python 3:34
5. Binning in Python 1:53
6. Turning categorical variables into quantitative variables in Python 2:00

In [7]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 1

# Preprocesamiento de datos en Python

# Estandarización de formato antes del procesamiento
# 1. Manejo de valores faltantes
# 2. Dar formato a los datos
# 3. Normalización de los rangos a través del centrado y escalado
# 4. Convertir variables categóricas en numéricas

import pandas as pd
import numpy as np

URLautos = "/content/sample_data/california_housing_test.csv"
#URLHeadAutos = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.names"
dfdat = pd.read_csv(URLautos)
print('Dataframe:\n',dfdat.head(4))
print('\n- - - - - - - - - - - - - - - - - - - - - \n')

# - - - - - - - - - - - - - - - - - - - - Acceso a la información:
print('\nlongitud:\n',dfdat['longitude'])
print('\nlatitude:\n',dfdat['latitude'])

print('\n- - - - - - - - - - - - - - - - - - - - - \n') # Accediendo información por columnas 
dfdat['population'] = (dfdat['population']-dfdat['population'].min())*100/(dfdat['population'].max()-dfdat['population'].min())
dfdat['population'] = dfdat['population'].round(1)
print('dfdat population - 100:\n',)
print('Dataframe:\n',dfdat.head(4))

print('\n- - - - - - - - - - - - - - - - - - - - - \n')

Dataframe:
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
2      1484.0       495.0         5.7934            270500.0
3        49.0        11.0         6.1359            330000.0

- - - - - - - - - - - - - - - - - - - - -


longitud:
 0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

latitude:
 0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

- - - - - - - - - - - - - - - - - - - - -

dfdat population - 100:

Dataframe:
    longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0
2    -117.81     33.78                27.0       3589.0           507.0
3    -118.36     33.82                28.0         67.0            15.0

   population  households  median_income  median_house_value
0        12.8       606.0         6.6085            344700.0
1         6.7       277.0         3.5990            176500.0
2        12.4       495.0         5.7934            270500.0
3         0.4        11.0         6.1359            330000.0

- - - - - - - - - - - - - - - - - - - - -

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 2

#

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 3

#

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 4

#

In [ ]:
# - - - - - - - - - - - - - - - - - - - - - - - - 
# Ejercicio 5

#